.lando-line-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: fit-content;
  max-width: 100%;
  vertical-align: top;
}

.lando-line {
  display: block;
  width: fit-content;
  max-width: 100%;
  position: relative;
}

.lando-line-cover {
  position: absolute;
  inset: -1px -3px;
  z-index: 10;
  pointer-events: none;
  transform-origin: left center;
}
.lando-line-cover.dark,
.lando-line-cover-dark {
  background-color: #ffffff;
}
.lando-line-cover.light,
.lando-line-cover-light {
  background-color: #000000;
}
